<%- include('partials/header') %>

<main>
    <h1><%= title %></h1>
    <ul class="tile-list">
        <% projects.forEach(project => { %>
        <li>
            <strong><%= new Date(project.project_date).toLocaleDateString() %></strong>
            <span><%= project.title %></span>
            <em><%= project.organization_name %></em>
        </li>
        <% }) %>
    </ul>
</main>

<%- include('partials/footer') %>